.form {
    width: 100%;
    display: flex;
    border: 1px solid var(--primary);
    max-width: 120rem;
    margin-bottom: 5rem;
}

.select{
    flex: 1;
    padding: 1.5rem;
    appearance: none;
    border: none;
    background-color: var(--blanco);
    color: var(--negro);
}

.select option {
    text-align: center;
}